* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
    min-height: 100%;
    min-width: 100%;
    font-family: Arial, Verdana, sans-serif;
    color: #3C4A51;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    line-height: 1.45em;
}

body {
    background: #FAFAFA;
}

a {
    color: #5EBABA;
}

h2, h1 {
    font-weight: normal;
    line-height: 1.2em;
}

    h1 .sub {
        display: block;
        font-size: .5em;
        line-height: 1.5em;
        margin-top: -.3em;
        opacity: .8;
    }

#content-header .page-block {
    background: #FFF;
    border: 3px solid #F0F0F0;
    border-top: 0;
    border-bottom-width: 1px;
}

#content-header .logo {
    display: inline-block;
    vertical-align: middle;
    max-height: 5em;
    margin: 0 1em 0 0;
}

#content-header h1 {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 .5em;
}

#content-header nav {
    float: right;
    margin-top: 2.5em;
}

    #content-header nav a {
        display: inline-block;
        margin-left: 1em;
    }

#content-header {
    position: relative;
    z-index: 1;
}

#page-content {
    max-width: 1200px;
    margin: auto;
    background: #FFF;
    border: 3px solid #EEE;
    border-top: 0;
    padding: 0;
}

#content-body {
    background: #FFF;
    min-height: 20em;
    border: 3px solid #EEE;
    position: relative;
    z-index: 1;
}

.page-block {
    max-width: 1200px;
    padding: 1em 2em;
    margin: auto;
}

.major-block {
    padding: 2em;
}

    .major-block.alt {
        background: #F0F0F0;
    }

    .major-block.banner {
        background: #D7EFEF url(img/sacredheart_large.png) left center no-repeat;
        position: relative;
        min-height: 20em;
    }

    .major-block.banner .block-body {
        position: absolute;
        background: #5EBABA;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        color: #FFF;
        padding: 2em;
    }

    .major-block .links {
        display: block;
        margin: .5em 0 1.5em;
    }

.minor-block {
    display: inline-block;
    background: #FFF;
    padding: 2em;
    width: 32%;
    vertical-align: top;
    margin: 0;
}

.subtext {
    font-size: .9em;
    opacity: .75;
}

.fb {
    display: inline-block;
    margin: 0 1em .5em 0;
    padding: .25em .5em;
    background: #5EBABA;
    color: #FFF;
}

@media only screen and (max-width: 700px) {
    #content-header,
    #page-content {
        border: 0;
    }

    #content-header .page-block {
        padding: 1em 0 0;
        border: 0;
    }

        #content-header .logo {
            float: left;
            margin: .5em 1em 0;
        }

        #content-header h1 {
            display: block;
            padding: .5em 0 0;
            margin-bottom: 1.25em;
        }

        #content-header .sub {
            margin-top: 0;
            font-size: .4em;
        }

    #content-header nav {
        position: relative;
        display: block;
        float: inherit;
        margin: auto;
        padding: 1em;
        background: #3C4A51;
    }

        #content-header nav a {
            color: #EEE;
        }

    .major-block.banner {
        background: #5EBABA;
        min-height: inherit;
        padding: 1em 2em;
    }

        .major-block.banner .block-body {
            position: relative;
            width: auto;
            padding: 0;
        }

    .minor-block {
        display: block;
        width: auto;
        padding: 1em 2em;
        padding: .5em 2em 0;
    }
}